

  .shiftKey {
    box-shadow: none !important;
    font-size: 1 !important;
    max-width: 3rem !important;
  }

  .extraKey {
    box-shadow: none !important;
    font-size: 1 !important;
    max-width: 3rem !important;
  }

  .ghostKey {
    box-shadow: none !important;
    font-size: 1 !important;
    max-width: 3rem !important;
    color: transparent !important;
  }

  .ghost2Key {
    box-shadow: none !important;
    font-size: 1 !important;
    max-width: 3rem !important;
    color: transparent !important;
    background-color: transparent !important;
    border: none !important;
  }

  /* .spaceKey {
    box-shadow: none !important;
    min-width: 140rem !important;
  } */

  .defaultKey {
    box-shadow: none !important;
    font-size: 1 !important;
    max-width: 3rem !important;
  }

  .enterKey {
    box-shadow: none !important;
    font-size: 1 !important;
    max-width: 5rem !important;
  }
  .delKey {
    box-shadow: none !important;
    font-size: 1 !important;
    min-width: 2rem !important;
    max-width: 5rem !important;
  }
